<div style="background-image: url({{imageUrl "mockups/chadder1.jpg"}})" class="header-image chadder"></div>

<main class="work">
  <section class="slide light">
    <div class="container">
      <h1 class="main-title">Chadder</h1>
      <h2 class="sub-title first">Website Reboot</h2>
      <div class="left-col">
        <p>
          Chadder is an RIT-based startup. They created an end-to-end encrypted private messaging mobile application. In need of a site redesign, they approached me with the project.
          I designed the website for my GUI course project and continued on to develop the site, until I helped officially launch the app at CES 2015 in Las Vegas. Utilizing a responsive approach, the site's main function is to increase app downloads. Currently featured on <a class="red"  href="http://www.producthunt.com/posts/chadder" target="_blank">Product Hunt</a>!
        </p>
        <aside class="tag-cloud">
          <span>Time: 3 weeks</span>
          <span>UI/UX design</span>
          <span>Concept/Strategy</span>
          <span>HTML5</span>
          <span>jQuery</span>
          <span>SCSS</span>
        </aside>
      </div>

      <div class="right-col">
        <img class="logo" src="{{imageUrl "chadder/logo.svg"}}" alt="chadder logo">
        <a href="http://www.chadder.im/" class="button dark" target="_blank">Live Site</a>
        <a href="https://github.com/sarahbethfederman/Chadder-Redesign" class="button dark" target="_blank">Github Repo</a>
      </div>
    </div>
  </section>

  <section class="slide dark">

    <div class="container">
      <section>
        <h2>Design Process</h2>
        <h3 class="sub-title">Initial Iteration</h3>
        <div class="image-container">
          <a href="{{imageUrl "chadder/wireframe.jpg"}}" rel="chadder" class="lightbox"><img class="half" src="{{imageUrl "chadder/wireframe.jpg"}}" alt="wireframe" /></a>
          <a href="{{imageUrl "chadder/mockup1.jpg"}}" rel="chadder" class="lightbox"><img class="half" src="{{imageUrl "chadder/mockup1.jpg"}}" alt="first design" /></a>
        </div>
      </section>

      <section>
          <h3 class="sub-title">Final Iteration</h3>
          <p class="band">Upon reflection, I decided that I wasn't invoking the emotional response necessary for a security-focused application. With some copy changes and some bolder colors and imagery, I came to a final solution.</p>
          <div class="image-container">
            <a href="{{imageUrl "chadder/mockup2.jpg"}}" rel="chadder" class="lightbox"><img class="half" src="{{imageUrl "chadder/mockup2.jpg"}}" alt="final design" /></a>
            <a href="{{imageUrl "chadder/overlay.jpg"}}" rel="chadder" class="lightbox"><img class="half" src="{{imageUrl "chadder/overlay.jpg"}}" alt="overlay" /></a>
          </div>
      </section>

    </div>
  </section>

  <section class="slide light">

    <div class="container">
        <h2>Development Cycle</h2>
        <h3 class="sub-title">Front-end Development</h3>
        <p class="band">
          This was a bit of a sprint, since we only had about a week to prepare in between final exams and leaving for CES.
          Because of this, I had to nix some of the extra effects I'd intended, like parallax scrolling.
        </p>

        <div class="timeline">
          <div class="spine"></div>

          <div class="events-container">
            <div class="event">
              <div class="event-img">
                <img src="{{imageUrl "chadder/comp-match.jpg"}}" alt="comp matching">
              </div>
              <div class="description">
                <h4>Comp Matching</h4>
                <p>I used Adobe Extract to quickly get critical information about colors, dimensions, etc.</p>
              </div>
            </div>
            <div class="event">
              <div class="event-img">
                <img src="{{imageUrl "chadder/overlay-small.jpg"}}" alt="modal view">
              </div>
              <div class="description">
                <h4>Modals</h4>
                <p>With the help of CSS animations and some jQuery, I created custom modals for non-critical information</p>
              </div>
            </div>
          </div>

          <div class="events-container">
            <div class="event">
              <div class="event-img">
                <img src="{{imageUrl "chadder/comp-small.jpg"}}" alt="px to rems">
              </div>
              <div class="description">
                <h4>PX to REMs</h4>
                <p>All pixel values were converted to rems by use of a sass function, from the Bourbon sass framework</p>
              </div>
            </div>
            <div class="event">
              <div class="event-img">
                <img src="{{imageUrl "chadder/mobile.jpg"}}" alt="mobile responsive">
              </div>
              <div class="description">
                <h4>Mobile Responsive</h4>
                <p>With the help of some media query adjustments, the mobile version came to life</p>
              </div>
            </div>
          </div>

        </div><!-- end timeline-->
    </div><!--end container-->
  </section>

  <section class="slide dark last">
    <div class="container">
      <h2>Final Thoughts</h2>
      <p>This was a fun project because I learned a lot about working with startups. I took on more roles than just designer/developer, and got to partake in some strategy. At CES, I spent a ton of time pitching to potential users at our booth.</p>
      <p>If I could do it again, I would give myself some more time to create some more enhancements. I might also forgo using rems as a unit relative to the viewport height(vh). While it made many things responsive with little effort, it also overrode some things which I had to countercorrect, especially with type.</p>
      <div class="buttons">
        <a href="http://www.chadder.im/" class="button white" target="_blank">Live Site</a>
        <a href="https://github.com/sarahbethfederman/Chadder-Redesign" class="button white" target="_blank">Github Repo</a>
      </div>
    </div>
  </section>

</main>

<footer>
  <a class="previous" href="vid-reel">&lt; &nbsp; Previous Project</a>
  <a class="next" href="particle">Next Project &nbsp; &gt;</a>
</footer>