 <main>
  <div class="announcement">
    Note: This site is under construction. I'm in the middle of building a new version in <a href="https://github.com/sarahbethfederman/Portfolio-2017" target="_blank">React and Gatsby</a>. Please excuse my mess!
  </div>
  <section id="top" class="slide">
    <header class="container">
      <h1 class="main-title">Hi, I'm {{name}}</h1>
      <h2 class="sub-title">I'm a {{toLower title}}</h2>
    </header>

    <video preload="auto" autoplay loop>
      <source src="https://s3.amazonaws.com/sarahfederman-portfolio/vid-bg-1.mp4" />
    </video>
  </section>

  <span id="work"></span>
 
  {{#each projects}}
  <section class="slide {{slug}}" data-href="projects/{{slug}}" style="background-image: url({{imageUrl backgroundImage w=1200 fit=clip}});">
    <div class="container">
      <h3>{{subtitle}}</h3>
      <h2>{{title}}</h2>
      <p class="description">{{description}}</p>
      <a class="button" href="projects/{{slug}}">Learn More</a>
    </div>
    <div class="overlay" data-bottom-center="opacity: .8" data-center-center="opacity: .3" data-top-center="opacity: .8"></div>
  </section>
  {{/each}}

  <section id="about" class="slide grid">
    <div class="top text block">
      <img class="avatar" src="{{profilePic}}" alt="{{name}}">
      {{!-- TO DO: this doesn't need to be inline --}}
      <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="-308.6 258.9 30.6 30.6" enable-background="new -308.6 258.9 30.6 30.6"><path d="M-293.2 289.6c8.5 0 15.3-6.9 15.3-15.3 0-8.5-6.9-15.3-15.3-15.3-8.5 0-15.3 6.9-15.3 15.3-.1 8.4 6.8 15.3 15.3 15.3zm5.2-22.7c1.4 0 2.5 1.1 2.5 2.5s-1.1 2.5-2.5 2.5-2.5-1.1-2.5-2.5 1.1-2.5 2.5-2.5zm3.5 10.3c0 3.6-3.9 6.6-8.8 6.6s-8.8-2.9-8.8-6.5l17.6-.1zm-14-10.3c1.4 0 2.5 1.1 2.5 2.5s-1.1 2.5-2.5 2.5-2.5-1.1-2.5-2.5 1.1-2.5 2.5-2.5z"/></svg>
      <h3 class="block-label">About Me</h3>
      <p>{{{about}}}</p>
      <ul class="social">
        {{#each social}}    
        <li><a href="{{url}}" target="_blank"><img src="{{imageUrl image}}" alt="{{name}}"></a></li>
        {{/each}}
      </ul>
    </div>
  </section>
</main>

{{>footer template="home"}}